.ts
.mp4
.mkv
.folder
__pycache__
.env
segments
caracol_tv.egg-info/
test.py
.venv
caracoltv.egg-info
build
dist
*.rar
*.egg-info
build/
dist/
*.sqlite
*.json
*.sqlite-journal
download/
avance/
*.log
HSL_LIVE/
output/
live_downloads/
fonts/
directo/
*.jpg
test/